.btn {
  text-transform: uppercase;
  font-weight: 700;
}

.btn-sm {
  font-size: 75%;
}

.btn-mr {
  margin-right: 20px;
}

.btn-group-article-base {
  margin-right: 130px;
}

.add-btn {
  height: 34px;
  margin: 29px 0 0 20px;
}

.pagination-color {
  color: black;
}

.btn-tag-bg-color {
  background-color: lightgray;
}

.anchor-email-link {
  color: #2780e3 !important;
  text-decoration: underline !important;
}
