.site-newsletter {
  background: lighten($gray-200, 3%);
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
}

.email-message-border {
  background-color: white;
  border: 1px solid $gray-300;
  color: black;
}
